.block8 {
    width: 100%;
    position: relative;
}

.block8-maintext {
    max-width: 773px;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #272727;
    margin-bottom: 14px;
}

.block8-secondtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6A6A6A;
    margin-bottom: 30px;
}

.block8-withpicture {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.block8-withpicture-left {
    display: flex;
    align-items: stretch;
}

.block8-withpicture-left-phone {
    
}

.block8-withpicture-left-graphs {
    display: flex;
    flex-direction: column;
}

.block8-withpicture-left-graphs-top {
    display: flex;
    align-items: flex-start;
}

.block8-withpicture-left-graphs-top-stat {
    width: 180px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 12px 20px 12.61px 20px;
}

.block8-withpicture-left-graphs-top-stat-maintext {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #272727;
    margin-bottom: 4px;
}

.block8-withpicture-left-graphs-top-stat-secondstat {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #272727;
    margin-bottom: 10px;
}

.block8-withpicture-left-graphs-top-stat-pic {
    width: 100%;
}

.block8-withpicture-left-graphs-top-social {
    padding: 12px 20px 12px 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    margin-left: 52px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 103px;
}

.block8-withpicture-left-graphs-top-social-pic {
    margin-bottom: 10px;
}

.block8-withpicture-left-graphs-top-social-maintext {
    text-align: center;
    font-size: 12px;
}

.block8-withpicture-left-graphs-top-social-secondtext {
    text-align: center;
    font-size: 12px;
}

.block8-withpicture-left-graphs-bottom {
    display: flex;
    align-items: flex-start;
}

.block8-withpicture-left-statcircle {
    padding: 12px 20px 12px 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    margin-top: 37px;
    margin-left: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block8-withpicture-left-statcircle-maintext {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #272727;
    margin-bottom: 4px;
    width: 100%;
}

.block8-withpicture-left-statcircle-secondtext {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #272727;
    margin-bottom: 10px;
    width: 100%;
}

.block8-withpicture-left-statcircle-container {
    display: none;
}

.block8-secondtext-withpicture-left-statcircle-pic {
    margin: auto;
}

.block8-withpicture-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 103px;
}

.block8-withpicture-right-maintext {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #272727;
    margin-bottom: 10px;
}

.block8-withpicture-right-secondtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6A6A6A;
    margin-bottom: 14px;
}

.block8-slider {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: 557.733px auto;
}

.block8-slider-right {
    margin-left: 103px;
}

.block8-slider-right-slider {
    display: flex;
    align-items: stretch;
}

.block8-slider-right-slider-left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.block8-slider-right-slider-left-next {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #F5791D;
    font-family: 'Inter';
    margin-bottom: 8px;
}

.block8-slider-right-slider-left-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3px;
}

.block8-slider-right-slider-left-bottom-elem {
    width: 19.8px;
    border: 1px solid rgba(245, 121, 29, 0.4);
    border-radius: 2px;
}

.block8-slider-right-slider-left-bottom-elem-active {
    border: 1px solid #F5791D;
}

.block8-slider-right-slider-right {
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.block8-slider-right-slider-right-img {
    height: 26px;
}

.block9 {
    width: 100%;
    background: linear-gradient(95.38deg, rgba(255, 255, 255, 0) -0.58%, rgba(255, 255, 255, 0) -0.28%, #F9F4EF 54.62%, #FBDDC1 86.65%);
    box-shadow: -4px 0px 4px rgba(198, 198, 198, 0.25), -4px 0px 4px rgba(198, 198, 198, 0.25), 4px 4px 4px rgba(198, 198, 198, 0.4), inset 0px 4px 4px rgba(198, 198, 198, 0.15);
    border-radius: 20px;
    padding: 40.13px 40px 41px 40px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    margin-top: 60px;
}

.block9-maintext {
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #272727;
    margin-bottom: 14.87px;
}

.block9-secondtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6A6A6A;
    margin-bottom: 25px;
}

.block9-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 485px;
}

.block9-form-input {
    width: 100%;
    padding: 6px 6px 6px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid rgba(39, 39, 39, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.block9-form-input-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    border: none;
    background: none;
}

.block9-form-input-input:focus {
    outline: 0;
}

.block9-form-input-button {
    padding: 17px 32.5px;
    border: none;
    background: linear-gradient(135deg, #FFAF50 0%, rgba(255, 107, 0, 0.6) 100%);
    cursor: pointer;
    border-radius: 6px;
}

.block9-form-checkbox {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.block9-form-checkbox-checkbox {
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 8px;
}

.block9-form-checkbox-checkbox-form {
    border: 1px solid #FF8E0A;
    border-radius: 2px;
    width: 100%;
    height: 100%;
}

.block9-form-checkbox-checkbox-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.block9-form-checkbox-checkbox-img-none {
    display: none;
}

.block9-form-checkbox-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #6A6A6A;
}

.block9-form-checkbox-text-link {
    color: #FF8E0A;
    text-decoration: underline;
}

.block9-form-checkbox-text-link:visited {
    color: #FF8E0A;
    text-decoration: underline;
}

.block9-graph {
    position: absolute;
    z-index: -1;
    right: 30px;
    bottom: -90px;
}

@media (max-width: 850px) {
    .block8 {
        width: 100%;
        padding-bottom: 40px;
    }

    .block8-maintext {
        width: 100%;
        max-width: 100%;
        font-size: 20px;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: #272727;
        margin-bottom: 11px;
    }

    .block8-secondtext {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #6A6A6A;
    }

    .block8-withpicture {
        display: flex;
        flex-direction: column-reverse;
    }

    .block8-withpicture-left {
        width: 100%;
    }

    .block8-withpicture-left-phone {
        width: 120px;
    }

    .block8-withpicture-left-graphs {
        width: 100%;
    }

    .block8-withpicture-left-graphs-top {
        justify-content: space-evenly;
    }

    .block8-withpicture-left-graphs-top-stat {
        width: 96px;
        padding: 8px 10px 8px 10px;
        border-radius: 8px;
    }

    .block8-withpicture-left-graphs-top-stat-maintext {
        font-size: 10px;
        line-height: 12px;
    }

    .block8-withpicture-left-graphs-top-stat-secondstat {
        font-size: 8px;
        line-height: 140%;
        margin-bottom: 4px;
    }

    .block8-withpicture-left-graphs-top-social {
        margin-left: 0px;
        margin-top: 34px;
        width: 84px;
        border-radius: 8px;
        padding: 11px 13px 8px 13px;
    }

    .block8-withpicture-left-graphs-top-social-pic {
        width: 30px;
    }

    .block8-withpicture-left-graphs-top-social-maintext {
        font-size: 8px;
        line-height: 10px;
    }

    .block8-withpicture-left-graphs-top-social-secondtext {
        font-size: 8px;
        line-height: 10px;
    }

    .block8-withpicture-left-graphs-bottom {
        padding-left: 5px;
    }

    .block8-withpicture-left-statcircle {
        margin: 0px;
        flex-direction: row;
        padding: 6px 10px 6px 10px;
        border-radius: 8px;
        margin-top: 20px;
    }

    .block8-withpicture-left-statcircle-maintext {
        display: none;
    }

    .block8-withpicture-left-statcircle-secondtext {
        display: none;
    }

    .block8-withpicture-left-statcircle-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .block8-withpicture-left-statcircle-container-maintext {
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        color: #272727;
        margin-bottom: 4px;
    }

    .block8-withpicture-left-statcircle-container-secondtext {
        font-weight: 400;
        font-size: 8px;
        line-height: 140%;
        letter-spacing: 0.04em;
        color: #272727;
    }

    .block8-secondtext-withpicture-left-statcircle-pic {
        height: 29px;
        margin-left: 20px;
    }

    .block8-withpicture-right {
        width: 100%;
        margin-left: 0;
    }

    .block8-withpicture-right-maintext {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
    }

    .block8-withpicture-right-secondtext {
        font-size: 14px;
        line-height: 22px;
    }

    .block8-slider {
        display: flex;
    }

    .block8-slider-left {
        display: none;
    }

    .block8-slider-right {
        margin: 0;
    }

    .block9 {
        border-radius: 20px;
        background: linear-gradient(172.82deg, rgba(255, 255, 255, 0) -2.58%, rgba(255, 255, 255, 0) -2.28%, #F9F4EF 50.46%, #FBDDC1 81.24%);
        box-shadow: inset 0px 4px 4px rgba(198, 198, 198, 0.15);
        filter: drop-shadow(-4px 0px 4px rgba(198, 198, 198, 0.25)) drop-shadow(-4px 0px 4px rgba(198, 198, 198, 0.25)) drop-shadow(4px 4px 4px rgba(198, 198, 198, 0.4));
        padding: 20px 19.5px 0 19.5px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block9-maintext {
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.04em;
        margin-bottom: 14px;
    }

    .block9-secondtext {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .block9-form {
        width: 100%;
        margin-bottom: 160px;
    }

    .block9-form-input {
        border-radius: 8px;
        padding: 3px 3px 3px 8px;
        margin-bottom: 13px;
    }

    .block9-form-input-input {
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
    }

    .block9-form-input-button {
        padding: 8px 19.5px;
        font-size: 12px;
        line-height: 20px;
    }

    .block9-form-checkbox-text {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #6A6A6A;
    }

    .block9-graph {
        width: 90%;
        right: 0;
        bottom: -86px;
    }

    .block9-form {
        margin-bottom: 30px;
    }

    .block9-graph {
        display: none;
    }
}

@media (max-width: 400px) {
    .block9-form {
        margin-bottom: 130px;
    }

    .block9-graph {
        display: flex;
    }
}

@media (max-width: 850px) {
    .block9-form-input-input {
        width: 120px;
    }
}
